<footer>
  <p>
    <a href="/changelog.html">
      {% assign date_format =  "%Y-%m-%d" %}
      {% if page and page.date %}
      <time datetime="{{ page.date  | date_to_xmlschema}}" itemprop="datePublished">
      {{ page.date | date: date_format }}</time></a> {% comment %}/a tag here to prevent
                                                                  whitespace in the link {% endcomment %}
      {% else %}
      <time datetime="{{ site.time  | date_to_xmlschema}}">
      {{ site.time | date: date_format }}</time></a>
      {% endif %}

      {% assign extension = page.path | slice,-3,3 %}
      {% comment %}jekyll-tagging does not set page.path to the source FIXME {% endcomment %}
      {% if site.repository and extension contains ".md" %}
      <span>
        generated from:
        <a class="file" href="{{ site.repository }}{{ page.path }}">{{ page.path }}</a>
      </span>
      {% endif %}
	</p>
	<p id="licence" lang="en">
  <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img
    alt="Creative Commons License" style="border-width:0" src="/assets/cc-by-sa.png" width="80" height="15" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
	</p>
</footer>
