<header>
    {% assign default_paths = site.pages | map: "path" %}
    {% assign page_paths = site.header_pages | default: default_paths %}

    <h1>
      {{ page.title | default: site.title | escape }}
    </h1>

    {% if page_paths %}
      <nav class="site-nav">
        <ul>
        <li>
          <a class="page-link" href="{{ "/" | relative_url }}">home</a>
        </li>
        {% for path in page_paths %}
          {% assign my_page = site.pages | where: "path", path | first %}
          {% if my_page.title %}
            <li>
              <a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
            </li>
          {% endif %}
        {% endfor %}
        </ul>
      </nav>
    {% endif %}
</header>
