body {
	margin: 0;
	padding: 0;
	color: #000;
	background-color: #fff;
}

a {
  color: #700080;
  text-decoration: underline;
}
a:hover {
  color: #9020a0;
  text-decoration: none;
}
a:visited {
  color: #500040;
  text-decoration: underline;
}

img {
  max-width: 60%;
}

img.full-width {
  max-width: 100%;
}

video {
  max-width: 100%;
}

header nav {
  margin-top: 0;
	display: table;
	width: 100%;
  font-size: medium;
}

header h1 {
  font-size: x-large;
  left: 0;
  top: 0;
  caption-side: top;
	color: #708;
	background-color: #fff;
	margin: 0.5em 0 0 0.2em;
	padding: 0;
  z-index: -100;
}

/* display on same line */
dl dd {
  display: inline;
  margin: 0;
}
dd:after {
  display: block;
  content: "";
}
dl dt {
  display: inline-block;
  min-width: 3em;
  text-align: right;
  margin-right: 2em;
}

nav {
  display: table-cell;
	width: 100%;
	margin: 0;
	padding: 0.1em 0 0 0;
	border-style: solid;
	border-color: #700080;
	border-width: 0 0 0.2em 0;
	background-color: #708;
	text-align: right;
}
nav a,
nav a:visited {
	color: #eee;
	background-color: #708;
	font-weight: bold;
	text-decoration: none;
  padding: 0 1em 0 1em;
  maring: 0 0.2em 0 0.2em;
}
nav a:hover {
	color: #fff;
	background-color: #92a;
}

nav ul {
	display: inline;
}
nav li {
	display: inline;
}

div.search {
  position: absolute;
  right: 0.2em;
  top: 0.2em;
}

main {
  margin: 0 auto;
  max-width: 80ch;
}

article {
	padding-top: 2em;
  margin: 0 0.5em;
  max-width: 80ch;
}

article header div {
  font-size: medium;
  font-weight: bold;
}
a[rel=tag]:before{
  content: "[";
}
a[rel=tag]:after {
  content: "]";
}

#tag-cloud a.set-1 {
  font-weight: 200;
}
#tag-cloud a.set-2 {
  font-weight: 300;
}
#tag-cloud a.set-3 {
  font-weight: 400;
}
#tag-cloud a.set-4 {
  font-weight: 600;
}
#tag-cloud a.set-5 {
  font-weight: 900;
}

ul.tag-post-list li {
  padding-bottom: 0.5em;
}
ul.tag-post-list li > a {
  font-weight: bold;
}
ul.tag-post-list li > span:before {
  content: " ";
  display: block;
}
ul.tag-post-list li > span {
  font-size: small;
}

ul.post-list {
  list-style-type: none;
  padding-left: 1em;
}
ul.post-list span.post-date{
  font-weight: bold;
}

ul.post-list h3 {
  padding: 0;
  margin: 0;
  padding-bottom: 0.1em;
}
ul.post-list li div{
	margin-bottom: 2em;
	padding-left: 0.8em;
	border-style: solid;
	border-color: #708;
	border-width: 0px 0px 0px 0.5em;
}
ul.post-list p {
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  margin: 0;
  max-width: 70ch;
}

ul.language {
  display: inline;
  padding: 0;
  margin: 0;
}
ul.language li {
  display: inline;
}

.old-posts {
  margin-bottom: 0;
}

th, td {
  padding: 0.3em;
  border-width: 0;
}

tr:nth-child(even) {
  background-color: #eee;
}

table caption {
  font-weight: bold;
  border-bottom: 1px solid black;
}

.file {
  font-family: monospace;
}

pre {
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
	padding: 0.5em;
	background: #eee;
}

a.feed {
  background-image: url("/assets/feed-icon-28x28.png");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 1.5em;
}

footer {
  margin-top: 5em;
  margin-bottom: 3em;
  padding: 0 0.5em 0 0.5em;
  border-style: solid;
  border-color: silver;
  border-width: 1px 0 0 0;
  font-size: x-small;
}
#licence {
  text-align: left;
  clear: both;
  font-size: xx-small;
}
