---
layout: default
---
<main>
  <h2>Posts</h2>

  {% assign post_limit = 3 %}
  <ul class="post-list">
    {% for post in site.posts limit: post_limit %}
      <li>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h3>
        <div>
        {% assign date_format = "%F" %}
        <span class="post-date">{{ post.date | date: date_format }}</span>
        <p>
        {% if post.content contains "<!-- begin_excerpt -->" %}
          {{ post.content | split: "<!-- end_excerpt -->" | first | split: "<!-- begin_excerpt -->" | last }}
        {% else %}
          {{ post.excerpt | strip_html}}
        {% endif %}
        </p>
        </div>
      </li>
    {% endfor %}
  </ul>
  {% assign post_count = site.posts | size %}
  {% if post_count > post_limit %}
  <h3 class="old-posts">
  <a href="blog/#{{post_limit | plus: 1 }}">
    old posts ({{ post_count | minus: post_limit}})</a>
  </h3>
  <ul class="language">
    <li><a href="blog/de">deutsch</a></li>
    <li><a href="blog/en">english</a></li>
  </ul>
  {% endif %}
  <p>
  <a class="feed" href="{{ "/feed.xml" | relative_url }}">feed</a>
  </p>

  {{ content }}

</main>
