---
layout: default
---

<div>
  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}

    {% assign language = post.lang | default: "en" %}
    {% if page.lang == nil or page.lang == language %}
      <li>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}"
                               name="{{ forloop.index }}" >{{ post.title | escape }}</a>
        </h3>
        <div>
        {% assign date_format = "%F" %}
        <span class="post-date">{{ post.date | date: date_format }}</span>
        <p>
        {% if post.content contains "<!-- begin_excerpt -->" %}
          {{ post.content | split: "<!-- end_excerpt -->" | first | split: "<!-- begin_excerpt -->" | last }}
        {% else %}
          {{ post.excerpt | strip_html }}
        {% endif %}
        </p>
        </div>
      </li>
      {% endif %}
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
