---
layout: default
---
<article>
  <header>
    <div>
    <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
      {% assign date_format =  "%Y-%m-%d" %}
      {{ page.date | date: date_format }}
    </time>
    {% for tag in page.tags %}
    <a rel="tag" href="{{ tag | prepend:"tag/" | relative_url }}.html">{{ tag }}</a>
    {% endfor %}
    </div>
  </header>

  <div>
    {{ content }}
  </div>
</article>
