---
layout: default
---
<h2>{{ page.tag }}</h2>
<ul class="tag-post-list">
  {% for post in page.posts %}
  {% assign date_format =  "%F" %}
  <li><a href="{{ post.url | relative_url }}">{{ post.title }}</a>
    <span>{{ post.date | date: date_format }} | {{ post | tags }}<span></li>
  {% endfor %}
</ul>

<h3>Tags</h3>
<div id="tag-cloud">
  {{ site | tag_cloud }}
</div>
